[submodule "docs/jekyll-theme-minimalistic"]
	path = docs/jekyll-theme-minimalistic
	url = https://github.com/vaibhavvikas/jekyll-theme-minimalistic
[submodule "jekyll-theme-minimalistic"]
	path = jekyll-theme-minimalistic
	url = https://github.com/vaibhavvikas/jekyll-theme-minimalistic
